name: "Testing with Unittests"
run-name: Unittest
on:
  push:
    branches:
      - main

jobs:
  build: 
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses:  actions/checkout@v4

      - name: install python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: install dependencies
        run: pip install -r requirements.txt

      - name: run tests
        run: python -m unittest test.test_unittest

      - name: notify on success
        if: success()
        run: echo "Unit tests passed successfully"

      - name: notify on failure
        if: failure()
        run: echo "Unit tests failed"